# Server
NODE_ENV=development
PORT=3006

# Database PostgreSQL
DB_HOST=localhost
DB_PORT=5436
DB_NAME=bibliotecadb
DB_USERNAME=admin
DB_PASSWORD=admin
DB_SQL_LOGGING=false
DB_SSL=false

# JWT Configuration
JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=30m
JWT_REFRESH_EXPIRES_IN=7d
JWT_ISSUER=BibliotecaAPI
JWT_AUDIENCE=BibliotecaAPI

# SMTP Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=example@gmail.com
SMTP_PASS=change-this-password
EMAIL_FROM=example@gmail.com
EMAIL_FROM_NAME=AuthService

# Cloudinary
CLOUDINARY_CLOUD_NAME=example
CLOUDINARY_API_KEY=example
CLOUDINARY_API_SECRET=change-this-secret
CLOUDINARY_BASE_URL=https://res.cloudinary.com/example/image/upload/
CLOUDINARY_FOLDER=event-users
CLOUDINARY_DEFAULT_AVATAR_FILENAME=avatar.webp
CLOUDINARY_DEFAULT_AVATAR_URL=https://res.cloudinary.com/example/image/upload/event-users/avatar.webp

# File Upload
UPLOAD_PATH=./uploads

# Frontend URL
FRONTEND_URL=http://localhost:3000

# Security
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
ADMIN_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

# Verification Tokens
VERIFICATION_EMAIL_EXPIRY_HOURS=24
PASSWORD_RESET_EXPIRY_HOURS=1
